<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Biblioth&egrave;qa</title>
    <!-- Load Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:900|Merriweather&display=swap" rel="stylesheet">
    <!-- Load Styles -->
    <link rel="stylesheet" href="static\styles.css">
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;,">
</head>
<body>
    <header class="page__header">
        <nav class="navbar__menu">
          <h3 id="greet"></h3>
          <ul id="navbar__list">
          </ul>
        </nav>
    </header>
    <div class="landing__container">
        <h2>Biblioth&egrave;qa</h2>
        <div class="login_card">
            <div class="form">
                <span class="title">Enter your username</span>
                <p id="errorMSG"></p>
                <div>
                  <input placeholder="Enter your username" type="text" id="textBox">
                  <button id="logIn">Log In</button>
                </div>
            </div>
        </div>
    </div>
    <footer class="page__footer">
        <p>&copy Biblioth&egrave;qa</p>
    </footer>
    <script src="static/logIn.js"></script>
</body>
</html>