<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Biblioth&egrave;qa</title>
    <!-- Load Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:900|Merriweather&display=swap" rel="stylesheet">
    <!-- Load Styles -->
    <link rel="stylesheet" href="static\styles.css">
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;,">
</head>
<body>
    <header class="page__header">
        <nav class="navbar__menu">
          <h3 id="greet"></h3>
          <ul id="navbar__list">
              <li><a href="/home" class="menu__link">Home</a></li>
              <li><a href="/add_book" class="menu__link">Add</a></li>
              <li><a href="/filter" class="menu__link">Search</a></li>
              <li><a href="/show_books" class="menu__link">View books</a></li>
              <li><a href="/" class="menu__link" id="logOut">Log out</a></li>
          </ul>
        </nav>
    </header>
    <div class="landing__container">
        <h2>Biblioth&egrave;qa Books:</h2>
    </div>
    <div class="books__cards">
        $$books$$
    </div>
    <footer class="page__footer">
        <p>&copy Biblioth&egrave;qa</p>
    </footer>
    <script src="static/app.js"></script>
</body>
</html>